/* ENTIRE DOCUMENT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    scroll-behavior: smooth;
}
body {
    color: #28262a;
    font-family: ubuntu;
    font-size: 1.2rem;
    width: 100vw;
}
hr {
    border: none;
    border-top: 7px solid rgba(0, 0, 0, 0.7);
    margin: 20px 0;
    width: 50%;
}
.section-title {
    color: rgba(0, 0, 0, 0.7);
    font-size: 3.5rem;
    font-weight: 700;
    margin:0 0 50px;
}
/* NAVIGATION BAR */
header {
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 2;
    /* right: 50%; */
}
.navbar {
    background-color: #828184;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 5rem;
}
.nav-link {
    font-family: serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(195, 188, 188);
    text-decoration: none;
}
.nav-link:hover {
    outline: 2px solid;
}

/* HERO SECTION */
#hero {
    color: grey;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}
.hero-left {
    grid-column: 1/7;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 50px;
    z-index: 1;
}
.divider {
    width: 200px;
    margin: 20px 0 50px;
}
.heading-xl {
    color: rgba(0, 0, 0, 0.7);
    font-size: 10.5rem;
    width: 530px;
    overflow-wrap: break-word;
}
.intro {
    color: grey;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: end;
}
.intro-name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
    justify-self: flex-end;
    grid-column: 3/6;
    grid-row-start: 2;
    text-align: right;
}
.hero-role {
    grid-row-start: 3;
    grid-column: 1/6;
    text-align: right;
}

.hero-right {
    width: 100%;
    height: 100%;
    grid-column: 6/12;
    grid-row-start: 1;
}
.hero-img {
    height: 100vh;
    width: 100%;
}

/* SKILLS SECTION */
#skills {
    /* outline: 1px solid; */
    color: #fff;
    background-color: #b8b7ba;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}
.skill-wrapper {
    /* outline: 1px solid; */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.sub-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}
.skill-item span {
    font-size: 16px;
}
.skill-container-1 {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
}
.skill-container-2 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px;
}
.skill-container-3 {
    display: grid;
    grid-template-columns: 200px;
}
.skill-item {
    color: white;
    background-color: #828184;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:200px;
    text-align: center;
    padding: 10px ;
}
.skill-item:hover {
    border-radius: 20px;
}
.skill-img {
    width: 40%;
    height: 40%;
}

/* PROJECT SECTION */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
.pro-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(400px, fit-content);
    gap: 30px;
    place-items: center;
    padding: 0 50px;
}
.pro-item {
    padding: 20px 20px 30px;
}
.pro-item:hover {
    border: 2px solid ;
    border-radius: 8px;
}
.pro-img {
    width: 100%;
    height: 1fr;
}
.pro-name {
    font-size: 1.2em;
    font-weight: bold;
}
.pro-detail {
    color: #313032;
    line-height: 1.8rem;
    margin-bottom: 25px;
}
.pro-container a {
    background-color: #1a1a1b;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    padding: 20px;
    margin-bottom: 25px;
}
.pro-container a:hover {
    border-radius: 0;
}

/* CONTACT ME SECTION */
#contact {
    background-color: #959595;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    position: relative;
}
.contact-container-1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 25px;
}
.contact-container-2 {
    width: 200px;
}
.contact-container-3 {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 25px;
}
.contact-item {
    background-color: #343436;
    border-radius: 8px;
    color: #e0e0e0;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    width: 100%;
}
#contact i {
    margin-right: 10px;
}
#contact a {
    text-decoration: none; 
}
.contact-item:hover {
    border-radius: 20px;
}
.to-top {
    background-color: #29292a;
    text-decoration: none;
    color: #1a1a1b;
    padding: 10px;
    position: absolute;
    /* bottom: 100px; */
    right: 150px;
}